@font-face {
  font-family: "Snake";
  src: url("./font/snake.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  background: #587c2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Snake", monospace;
}

#game {
  border: 10px solid rgba(33, 47, 31, 0.887);
  background: #587c2f;
  display: none;
  /* margin-top: 0px; */
}

#score {
  font-size: 30px;
  font-weight: bold;
  margin-right: auto;
  margin-bottom: 10px;
  display: none;
}

#startCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  padding: 25px 40px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

#startButton {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#gameOverCard {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  padding: 40px 30px;
  font-size: 28px;
  color: white;
  border-radius: 8px;
}

#restartButton {
  margin-top: 30px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
