html,
body {
  margin: 0;
  background: greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game {
  border: 4px solid grey;
  background: greenyellow;
  /* margin-top: 0px; */
}

#score {
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  font-weight: bold;
  margin-right: auto;
  margin-bottom: 10px;
}
